{{define "details"}}
<!--
    文章详情页模板
    显示文章的:
        文章名(Name)
        作者(Author)
        内容(Content)
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <style type="text/css">
        .content{"text-align: center"}
    </style>
</head>
<body>
    <header>
        <!-- 这里要用模板修改为具体文章名和作者 -->
        <h1 class="name">{{.Name}}</h1>
        <h5 class="author">作者: {{.Author}}</h5>
    </header>
    <p class="content">
        <!-- 这里要用模板修改为具体文章内容 -->
        {{.Content}}
    </p>
</body>
</html>
{{end}}