<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>韭菜的博客</title>
</head>
<body>
    <header style="text-align: center">
        <h1 style="margin-bottom: 0;">韭菜的博客</h1>
    </header>
    <nav style="float: left">
        <b>文章列表</b><br />
        <ul>
            <!-- 这里要用模板修改为具体txt文件列表 -->
            <li>A</li>
            <li>B</li>
        </ul>
    </nav>
    <article style="float: left">
        <!-- 这里要用模板修改为具体txt文件中的内容 -->
        内容部分
    </article>
    <footer style="clear: both;text-align: center">
        版权 @ 韭菜
    </footer>
</body>
</html>